.app_dark-sea-waves_theme {
    --bg-color: #013d3f;
    --inverted-bg-color: #f4fbfb;
    --primary-color: #f4fbfb;
    --inverted-primary-color: #00190c;
    --secondary-color: ##00190C;
    --inverted-secondary-color: #f4fbfb;
}
